예측하라 문제는 스킵
출력을 원하는 문제만 작성

In [3]:
# menu 리스트에는 판매중인 메뉴가 저장돼 있다. 아래와 같이 화면에 출력하라
menu = ["김밥", "라면", "튀김"]

for m in menu :
    print("오늘의 메뉴 :", m)

오늘의 메뉴 : 김밥
오늘의 메뉴 : 라면
오늘의 메뉴 : 튀김

In [5]:
# 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 화면에 출력하라. 단 부가세는 10원으로 가정한다
prices = [100, 200, 300]

for i in prices :
    print(i + 10)

110
210
310

In [7]:
# 다음과 같이 반려 동물 리스트가 있을 때 반려 동물의 이름과 반려 동물의 글자수를 출력하라
pets = ["dog", "cat", "parrot", "squirrel", "goldfish"]
for i in pets :
    print(i, len(i))

dog 3
cat 3
parrot 6
squirrel 8
goldfish 8

In [8]:
# menu 리스트에는 음식 이름이 뒤집혀 저장돼 있다. 이를 읽기 좋게 뒤집어서 아래와 같이 출력하라
menu = ["면라", "밥김","김튀","이볶떡"]
for m in menu :
    i = len(m)
    for n in range(i) :
        print(m[1-n-1], end="")
    print("")

면라
밥김
김튀
이떡볶

In [10]:
# my_list에는 4개의 데이터가 저장되어 있다. 첫 번째 데이터를 제외하고 나머지 데이터를 한 라인에 하나씩 출력하라
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)) :
    print(my_list[i])

나
다
라

In [11]:
# my_list의 데이터 중에서 홀수 번째 위치의 값을 화면에 출력하라
my_list = [1, 2, 3, 4, 5, 6]
for i in my_list :
    if i % 2 == 0 :
        print(i)

2
4
6

In [22]:
# my_list의 데이터를 아래와 같이 역방향으로 출력하라
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, -1, -1) :
    print(my_list[i])

라
다
나
가

In [24]:
# my_list에서 음수를 출력하라
my_list = [3, -20, -3, 44]
for i in my_list :
    if i < 0 :
        print(i)

-20
-3

In [25]:
# my_list에서 3의 배수를 출력하라
my_list = [3, 100, 23, 44]
for i in my_list :
    if i % 3 == 0 :
        print(i)

3

In [26]:
# my_list에서 세 글자 이상의 문자를 화면에 출력하라
my_list = ["I", "study", "python", "language", "!"]
for i in my_list :
    if len(i) >= 3 :
        print(i)

study
python
language

In [29]:
# my_list에서 3의 배수이거나 4의 배수를 화면에 출력하라
my_list = [3, 1, 7, 12, 5, 16]
for i in my_list :
    if i % 3 == 0 or i % 4 == 0 :
        print(i)

3
12
16

In [30]:
# my_list에서 10보다 크고 20보다 작으면서 3의 배수일 경우 화면에 출력하라
my_list = [13, 21, 12, 14, 30, 18]
for i in my_list :
    if i > 10 and i < 20 and i % 3 == 0 :
        print(i)

12
18

In [31]:
# my_list에서 5보다 크고 10보다 작은 수를 화면에 출력하라
my_list = [3, 1, 7, 10, 5, 6]
for i in my_list :
    if i > 5 and i < 10 :
        print(i)

7
6

In [32]:
# my_list에서 3의 배수이거나 4의 배수를 화면에 출력하라
my_list = [3, 1, 7, 12, 5, 16]
for i in my_list :
    if i % 3 == 0 or i % 4 == 0 :
        print(i)

3
12
16

In [34]:
# my_list에서 대문자만 화면에 출력하라
my_list = ["A", "b", "c", "D"]
for i in my_list :
    if i.isupper() == True :
        print(i)

A
D

In [35]:
# my_list에서 소문자만 화면에 출력하라
my_list = ["A", "b", "c", "D"]
for i in my_list :
    if i.isupper() == False :
        print(i)

b
c

In [38]:
# 리스트의 문자를 대문자는 소문자로, 소문자는 대문자로 변환하라
my_list = ["A", "b", "c", "D"]
for i in my_list :
    if i.isupper() == True :
        print(i.lower(), end="")
    else :
        print(i.upper(), end="")

aBCd

In [39]:
# my_list에서 대문자만을 upper_list에 저장하라
my_list = ["A", "b", "c", "D"]
upper_list = []

for i in my_list :
    if i.isupper() == True :
        upper_list.append(i)
        
upper_list

['A', 'D']

In [40]:
# my_list에서 양수만 new_list 이름의 리스트에 저장하라
my_list = [3, -20, -3, 44]
new_list = []
for i in my_list :
    if i > 0 :
        new_list.append(i)
new_list

[3, 44]

In [44]:
# my_list의 값을 sole_list에 저장하라. 단 중복된 값은 제거한다
my_list = [3, 4, 4, 5, 6, 6]
sole_list = []
for i in my_list :
    if i not in sole_list :
        sole_list.append(i)
sole_list

[3, 4, 5, 6]

In [45]:
# 내장 함수를 사용하지 않고 반복문을 사용해서 my_list에 저장된 모든 수의 합을 출력하라
my_list = [3, 4, 5]
total = 0
for i in my_list :
    total += i
total

12